
<section class="phx-hero">
  <h1>Users</h1>
</section>
<section class="row">
  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email-id</th>
    </tr>
  </thead>
  <tbody>
    <%= for item <- @entries do %>
        <tr>
          <td><%= item["first_name"] <> " " <> item["last_name"] %></td>
          <td><%= item["email"] %></td>
        </tr>
    <% end %>
  </tbody>
</table>
</section>
<span><%= link "Add a user", class: "btn btn-primary", to: "/new", method: :get %></span><br>
<span><%= link "Update a user", class: "btn btn-primary", to: "/edit", method: :get %></span>
